<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自游吧-目的地</title>
    <link rel="stylesheet" href="../css/commen.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
    <link rel="stylesheet" href="../css/destination.css"/>
</head>
<body>

<!--登录和注册-->

<!--导航栏-->
<nav>
    <ul>
        <li class="nav_at"><span>成都</span>&nbsp;<img src="../images/nav_position.png" alt="定位"/></li>
        <li class="nav_logo"><img src="../images/logo_black.png" alt="自游吧logo"/></li>
        <li><a href="ZIYOU_COM.html" title="首页">首页</a></li>
        <li><a href="#" title="目的地" style="color: #009900">目的地</a></li>
        <li><a href="#" title="攻略">攻略</a></li>
        <li><a href="hotel.html" title="酒店">酒店</a></li>
        <li><a href="travelnote.html" title="自游记">游记</a></li>
        <li><a href="weektravel.html" title="周末游">周末游</a></li>
        <li class="nav_search"><img src="../images/btn_search.png" alt="点击搜索"/><input type="text" placeholder="搜索目的地"/></li>
        <li><a href="login.html"  class="nav_login">登录&nbsp;|&nbsp;</a><a href="register.html"  class="nav_login">注册</a></li>
    </ul>
</nav>

<!--头部-->
<header class="destination">
    <img src="../images/descation_nav_bg.jpg" alt="重庆旅游"/>
    <!--<video src="./images/index_video.mp4" autoplay loop="loop"><img src="./images/header_lunbo.jpeg" alt="打不开视频文件"/></video>-->
    <div class="header_title">
        <h1 class="title">中国那么大，我要去看看...</h1>
        <h2 class="title">从你的全世界路过</h2>
    </div>
    <div class="header_footer">
        <h1>去哪儿</h1>
        <input type="text" placeholder="输入目的地"/>
        <p>
        <span>&nbsp;&nbsp;<a href="#">北京</a>&nbsp;<a href="#">上海</a>&nbsp;<a href="#">厦门</a>&nbsp;<a href="#">海南</a>&nbsp;<a href="#">青海</a></span></p>
    </div>
</header>

<!--内容-->
<section>
    <article class="popular_place">
        <h1 align="center" class="article_title">国内热门目的地推荐</h1>
        <hr/>
        <div align="center">
            <img src="../images/descation_place.png" alt="热门旅游地"/>
        </div>
    </article>
    <article class="traveltitle">
        <h1 align="center" class="article_title">主题推荐</h1>
        <hr/>
        <ul>
            <li style="padding-bottom: -50px;">
                    <div class="title_img">
                        <img src="../images/title%20(1).jpeg" alt="重庆朝天门" style="width: 250px;height: 210px"/>
                    </div>
                    <div class="spot_talk_title">
                        <h1>海边</h1>
                    </div>
            </li>
            <li style="padding-bottom: -50px;">
                <div class="title_img">
                    <img src="../images/title%20(2).jpeg"" alt="重庆朝天门" style="width: 250px;height:210px"/>
                </div>
                <div class="spot_talk_title">
                    <h1>星空</h1>
                </div>
            </li>
            <li style="padding-bottom: -50px;">
                <div class="title_img">
                    <img src="../images/title%20(3).jpeg" alt="重庆朝天门" style="width: 250px;height: 210px"/>
                </div>
                <div class="spot_talk_title">
                    <h1>虐狗专题</h1>
                </div>
            </li>

            <li style="padding-bottom: -50px;">
                <div class="title_img">
                    <img src="../images/title%20(4).jpeg" alt="重庆朝天门" style="width: 250px;height: 210px"/>
                </div>
                <div class="spot_talk_title">
                    <h1>一家人</h1>
                </div>
            </li>
            <li style="padding-bottom: -50px;">
                <div class="title_img">
                    <img src="../images/title%20(5).jpeg" alt="重庆朝天门" style="width: 250px;height: 210px"/>
                </div>
                <div class="spot_talk_title">
                    <h1>亲子游</h1>
                </div>
            </li>
            <li style="padding-bottom: -50px;">
                <div class="title_img">
                    <img src="../images/title%20(6).jpeg" alt="重庆朝天门" style="width: 250px;height: 210px"/>
                </div>
                <div class="spot_talk_title">
                    <h1>好朋友</h1>
                </div>
            </li>
            <li style="padding-bottom: -50px;">
                <div class="title_img">
                    <img src="../images/title%20(7).jpeg" alt="重庆朝天门" style="width: 250px;height: 210px"/>
                </div>
                <div class="spot_talk_title">
                    <h1>自驾</h1>
                </div>
            </li>
            <li style="padding-bottom: -50px;">
                <div class="title_img">
                    <img src="../images/title%20(8).jpeg" alt="重庆朝天门" style="width: 250px;height: 210px"/>
                </div>
                <div class="spot_talk_title">
                    <h1>游轮</h1>
                </div>
            </li>
        </ul>
    </article>
</section>
<footer>
    <div class="footer1"><a href="#">关于自游</a><a href="#">合作伙伴</a><a href="#">免责声明</a><a href="#">友情链接</a><a href="#">联系我们</a><a href="#">自游微博</a></div>
    <br/>
    <span>自游吧旅游网</span>
</footer>
</body>
</html>