<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自游吧—登录</title>
    <link rel="stylesheet" href="../css/commen.css"/>
    <style>
        .login_re{
            background-image: url("../images/login_bg.jpg");
            /*opacity: 0.8;*/
            z-index: -1;
        }
    </style>
</head>
<body>
<!--登录和注册-->
<div class="login_re">
    <div class="login">
        <a href="ZIYOU_COM.html"><img src="../images/logo_whote.png" alt="自游吧&#10;回到首页" style="width: 200px"/></a>
        <div class="login_form">
            <form action="ZIYOU_COM.html">
                <h1 style="font-size: 20px">登录</h1>
                <input type="text" placeholder="输入手机号/邮箱" size="18"/><a href="register.html" style="font-size: 14px">立即注册</a><br/><br/>
                <input type="password" placeholder="密码" size="18"/><a href="#" style="font-size: 14px">忘记密码</a><br/><br/>
                <!--<a href="ZIYOU_COM.html">-->
                    <input type="submit" value="登录" style="width: 290px;height: 40px;background-color: #007700;color: #fff"/>
                <!--</a>-->
            </form>
            <p>更多登录方式</p>
            <ul>
                <li><img src="../images/QQ.png" alt="QQ登录"/></li>
                <li><img src="../images/weixin.png" alt="QQ登录"/></li>
                <li><img src="../images/weibo.png" alt="QQ登录"/></li>
                <li><img src="../images/renren.png" alt="QQ登录"/></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>