<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/commen.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
    <link rel="stylesheet" href="../css/weektravel.css"/>
</head>
<body>
<nav>
    <ul>
        <li class="nav_at"><span>成都</span>&nbsp;<img src="../images/nav_position.png" alt="定位"/></li>
        <li class="nav_logo"><img src="../images/logo_black.png" alt="自游吧logo"/></li>
        <li><a href="ZIYOU_COM.html" title="首页" >首页</a></li>
        <li><a href="destination.html" title="目的地">目的地</a></li>
        <li><a href="#" title="攻略">攻略</a></li>
        <li><a href="hotel.html" title="酒店">酒店</a></li>
        <li><a href="travelnote.html" title="自游记">游记</a></li>
        <li><a href="weektravel.html" title="周末游" style="color: #006600">周末游</a></li>
        <li class="nav_search"><img src="../images/btn_search.png" alt="点击搜索"/><input type="text" placeholder="搜索目的地"/></li>
        <li><a href="login.html"  class="nav_login">登录&nbsp;|&nbsp;</a><a href="register.html"  class="nav_login">注册</a></li>
    </ul>
</nav>

<!--头部-->
<header class="weekTra_header" id="head">
    <img src="../images/weekTravel_nav%20(1).jpg" alt="重庆旅游"/>
    <!--<video src="../images/index_video.mp4" autoplay loop="loop"><img src="./images/header_lunbo.jpeg" alt="打不开视频文件"/></video>-->
    <!--<div class="header_footer">今日有<b style="color: red">90</b>条更新</div>-->
</header>
<ul class="nav_col">
    <li><a href="#food">探美食</a></li>
    <li><a href="#incity">城里逛</a></li>
    <li><a href="#outcity">趣城外</a></li>
    <li><a href="#head">回顶部</a></li>
</ul>
<section class="findfood">
    <article id="food" class="food">
        <h1 align="center"  class="article_title">探美食</h1>
        <hr/>
        <ul class="article_title3">
            <li><div class="des_season pot">
            <div class="spot_img">
                <img src="../images/food1.jpg" alt="重庆朝天门"/>
            </div>
            <div class="spot_talk">
                <h1>探美食</h1>
            </div>
            <div class="spot_explain des_path">
                <div>
                    <span><a href="#">成都</a>|<a href="#">鸡蛋饼</a></span>
                    <p>棒棒哒</p>
                </div>
            </div>
            </div>

        </li>
 	<li class="margin_left"><div class="des_season">
                <div class="spot_img">
                    <img src="../images/ad_people.png" alt="重庆朝天门"/>
                </div>
                <div class="spot_talk">
                    <h1>懒人汇</h1>
                </div>
                <div class="spot_explain des_path">
                    <div>
                            <span><a href="#">成都</a>|<a href="#">武侯区</a>
                            </span>
                        <p>点外卖，就上懒人汇</p>
                    </div>
                </div> <a href="#" class="a_right">查看更多</a>
            </div>
            </li>
            <li class="margin_left"><div class="des_season">
                <div class="spot_img">
                    <img src="../images/food3.jpg" alt="重庆朝天门"/>
                </div>
                <div class="spot_talk">
                    <h1>探美食</h1>
                </div>
                <div class="spot_explain des_path">
                    <div>
                            <span><a href="#">成都</a>|<a href="#">包子</a>
                            </span>
                        <p>棒棒哒</p>
                    </div>
                </div>
            </div>
            </li>
        </ul>
    </article>
    <article id="incity" class="incity">
        <h1 align="center"  class="article_title">城里逛</h1>
        <hr/>
        <ul class="article_title3">
            <li><div class="des_season pot">
                <div class="spot_img">
                    <img src="../images/incity%20(1).jpg" alt="重庆朝天门"/>
                </div>
                <div class="spot_talk">
                    <h1>城里逛</h1>
                </div>
                <div class="spot_explain des_path">
                    <div>
                            <span><a href="#">重庆</a>|<a href="#">巴南</a>
                            </span>
                        <p>重庆好  重庆棒棒哒</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="margin_left"><div class="des_season">
                <div class="spot_img">
                    <img src="../images/incity%20(2).jpg" alt="重庆朝天门"/>
                </div>
                <div class="spot_talk">
                    <h1>去城外</h1>
                </div>
                <div class="spot_explain des_path">
                    <div>
                            <span><a href="#">重庆</a>|<a href="#">巴南</a>
                            </span>
                        <p>重庆好  重庆棒棒哒</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="margin_left"><div class="des_season">
                <div class="spot_img">
                    <img src="../images/incity%20(3).jpg" alt="重庆朝天门"/>
                </div>
                <div class="spot_talk">
                    <h1>探美食</h1>
                </div>
                <div class="spot_explain des_path">
                    <div>
                            <span><a href="#">重庆</a>|<a href="#">巴南</a>
                            </span>
                        <p>重庆好  重庆棒棒哒</p>
                    </div>
                </div> <a href="#" class="a_right">查看更多</a>
            </div>
            </li>
        </ul>
    </article>
    <article id="outcity" class="outcity">
        <h1 align="center"  class="article_title">趣城外</h1>
        <hr/>
        <ul class="article_title3">
            <li><div class="des_season pot">
                <div class="spot_img">
                    <img src="../images/outcity%20(1).jpg" alt="重庆朝天门"/>
                </div>
                <div class="spot_talk">
                    <h1>探美食</h1>
                </div>
                <div class="spot_explain des_path">
                    <div>
                            <span><a href="#">重庆</a>|<a href="#">巴南</a>
                            </span>
                        <p>重庆好  重庆棒棒哒</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="margin_left"><div class="des_season">
                <div class="spot_img">
                    <img src="../images/outcity%20(2).jpg" alt="重庆朝天门"/>
                </div>
                <div class="spot_talk">
                    <h1>探美食</h1>
                </div>
                <div class="spot_explain des_path">
                    <div>
                            <span><a href="#">重庆</a>|<a href="#">巴南</a>
                            </span>
                        <p>重庆好  重庆棒棒哒</p>
                    </div>
                </div>
            </div>
            </li>
            <li class="margin_left"><div class="des_season">
                <div class="spot_img">
                    <img src="../images/outcity%20(1).jpeg" alt="重庆朝天门"/>
                </div>
                <div class="spot_talk">
                    <h1>探美食</h1>
                </div>
                <div class="spot_explain des_path">
                    <div>
                            <span><a href="#">重庆</a>|<a href="#">巴南</a>
                            </span>
                        <p>重庆好  重庆棒棒哒</p>
                    </div>
                </div> <a href="#" class="a_right">查看更多</a>
            </div>
            </li>
        </ul>
    </article>
</section>
<footer>
    <div class="footer1"><a href="#">关于自游</a><a href="#">合作伙伴</a><a href="#">免责声明</a><a href="#">友情链接</a><a href="#">联系我们</a><a href="#">自游微博</a></div>
    <br/>
    <span>自游吧旅游网</span>
</footer>
</body>
</html>